


<!-- {{ messages.text }}

    <ul>
      <li style="padding-top: 13px;"><h3>{{ intro1.title }}</h3></li>
      <li style="padding-bottom:1em;">{{ intro1.text}}</li>
    </ul>


    <ul>
      <li style="padding-top: 13px;"><h3>{{ intro2.title }}</h3></li>
      <li style="padding-bottom:1em;">{{ intro2.text}}</li>
    </ul>


    <ul>
      <li style="padding-top: 13px;"><h3>{{ intro3.title }}</h3></li>
      <li style="padding-bottom:1em;">{{ intro3.text}}</li>
    </ul> -->




    <div id="quiz" class="quiz__container">
      <header class="quiz-header">
      	<h1>Are you new to HZ?</h1>
      </header>
    	<div class="quiz__content">
    		<div id="questionHeader" class="question__top"></div>
    		<div id="questionBottom" class="question__bottom"></div>
    	</div>
    	<nav id="quizNavigation" class="quiz__nav">
    		<button id="quizYes" data-navigate="screen2" class="btn btn-warning">Define New?</button>
        <button id="quizNo" data-navigate="screen3" class="btn btn-warning">No Way!</button>
    	</nav>
    </div>






            <!-- <form id="gform" method="POST" class="pure-form pure-form-stacked"
            action="https://script.google.com/macros/s/AKfycbwvsoNhttSdMUbS19VMMctENs5oSQXg8Ar960xWjh9X68SFRpk/exec" >

              <fieldset class="pure-group">
                <label for="name">Name: </label>
                <input id="name" name="name" placeholder="What your Mom calls you" />
              </fieldset>

              <fieldset class="pure-group">
                <label for="message">Message: </label>
                <textarea id="message" name="message" rows="10"
                placeholder="Tell us what's on your mind..."></textarea>
              </fieldset>

              <fieldset class="pure-group">
                <label for="email"><em>Your</em> Email Address:</label>
                <input id="email" name="email" type="email" value=""
                required placeholder="your.name@email.com"/>
                <span id="email-invalid" style="visibility:hidden">
                  Must be a valid email address</span>
              </fieldset>

              <fieldset class="pure-group">
                <label for="color">Favourite Color: </label>
                <input id="color" name="color" placeholder="green" />
              </fieldset>

              <button class="button-success pure-button button-xlarge">
                <i class="fa fa-paper-plane"></i>&nbsp;Send</button>

            </form> -->
